body
{
	background: #000000 url("../images/bkgd.jpg") no-repeat center center fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
  width: 100%;
	min-height: 5000px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
  width: 100%;
	margin-bottom: 594px;
}

#top
{
	position: relative;
}

/* NAVIGATION */

#img_nav_top,#img_nav_info,#img_nav_cast,#img_nav_axs
{
	height: 39px;
	width: 39px;
	vertical-align: top;
}

#nav_top
{
	z-index: 14;
	background: url("../images/nav_top.png") no-repeat 0px 0px;
	position: fixed;
	top: 424px;
	right: 34px;
}

#nav_top:hover #img_nav_top
{
	background: url("../images/nav_top_mover.png") no-repeat 0px 0px;
}

#nav_info
{
	z-index: 11;
	background: url("../images/nav_info.png") no-repeat 0px 0px;
	position: fixed;
	top: 515px;
	right: 34px;
}

#nav_info:hover #img_nav_info
{
	background: url("../images/nav_info_mover.png") no-repeat 0px 0px;
}

#nav_cast
{
	z-index: 17;
	vertical-align: top;
	background: url("../images/nav_cast.png") no-repeat 0px 0px;
	position: fixed;
	top: 606px;
	right: 34px;
}

#nav_cast:hover #img_nav_cast
{
	background: url("../images/nav_cast_mover.png") no-repeat 0px 0px;
}

#nav_axs
{
	z-index: 20;
	background: url("../images/nav_axs.png") no-repeat 0px 0px;
	position: fixed;
	top: 697px;
	right: 34px;
}

#nav_axs:hover #img_nav_axs
{
	background: url("../images/nav_axs_mover.png") no-repeat 0px 0px;
}


/* TOP */
#logo
{
	width: 100%;
	padding-bottom: 4px;
	margin-top: 562px;
	position: relative;
}

#logo_wrapper
{
	z-index: 9;
	width: 100%;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 24px;
	position: relative;
}

#logo_body
{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	position: relative;
  text-align: center;
}

#img_logo {
  z-index: 22;
  margin-top: -30px;
}

/* INFORMATION */
#info
{
	margin-top: 653px;
	position: relative;
}

.content_wrapper
{
	margin-top: 400px;
	position: relative;
  color: #fff;
}

#info_bg
{
	z-index: 2;
	width: 82%;
	border-style: none;
	border-color: transparent;
	background: #fdf921 url("../images/bg_info.png") repeat left top;
  opacity: 0.35;
	position: relative;
	-pie-background: rgba(252, 238, 33, 0.35);
  left: 115px;
  bottom: 330px;
}

#info_border
{
	z-index: 7;
	width: 82%;
	border-width: 8px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding: 85px 0 70px 0;
	margin-bottom: -24px;
  margin-left: 130px;
	position: relative;
}

.column_left {
  position: relative;
  float: left;
  padding-left: 55px;
}

#info_title
{
	z-index: 24;
	font-size: 72px;
  line-height: 90px;
	font-family: 'Muli', 'sans-serif';
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#info_body
{
	z-index: 33;
	text-align: left;
  line-height: 2em;
	font-family: 'Muli', 'sans-serif';
	font-weight: 400;
	position: relative;
}

.column_right
{
  text-align: right;
  padding-top: 30px;
}

#intro {
  margin-right: 35px;
  margin-top: 20px;
  line-height: 25px;
}

/* CAST */
#cast {
  margin-top: 648px;
  position: relative;
}

.cast_wrapper
{
  background: url("../images/bg_cast.png");
  width: 100%;
  position: relative;
  font-size: 40px;
  color: white;
	position: relative;
  margin-top: 30px;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

.label {
  margin-left: 190px;
  float: left;
}

.guest {
  float: none;
  text-align: right;
  margin-bottom: 140px;
}

.c_name {
  margin-right: 190px;
}

#img_dj_00 {
  margin-top: 18px;
}

.djs {
  text-align: right;
  margin-bottom: 140px;
}

.img_resident {
  margin-top: 140px;
  line-height: 400px;
}

.resident li{
  padding-bottom: 20px;
}

.vjs {
  text-align: right;
}

.img_vjs {
  margin-top: 48px;
  line-height: 200px;
}

/* ACCESS */
#axs
{
  margin-top: 648px;
  position: relative;
}

.slider {
  position: relative;
  width: 800px;
  height: 450px;
  overflow: hidden;
}

.slides {
  height: 100%;
  overflow: hidden;
  *zoom: 1;
}

.slide {
  height: 100%;
  float: left;
  clear: none;
}

.slide img {
  width: 100%
}

#page .verticalspacer
{
	clear: both;
}

