body
{
	background: #000000 url("../images/bkgd.jpg") no-repeat center center fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 4000px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 594px;
}

#top
{
	position: relative;
}

#img_nav_top,#img_nav_info,#img_nav_cast,#img_nav_axs
{
	height: 39px;
	width: 39px;
	vertical-align: top;
}

#nav_top
{
	z-index: 14;
	background: url("../images/nav_top.png") no-repeat 0px 0px;
	position: fixed;
	top: 424px;
	right: 34px;
}

#nav_top:hover #img_nav_top
{
	background: url("../images/nav_top_mover.png") no-repeat 0px 0px;
}

#nav_info
{
	z-index: 11;
	background: url("../images/nav_info.png") no-repeat 0px 0px;
	position: fixed;
	top: 515px;
	right: 34px;
}

#nav_info:hover #img_nav_info
{
	background: url("../images/nav_info_mover.png") no-repeat 0px 0px;
}

#nav_cast
{
	z-index: 17;
	vertical-align: top;
	background: url("../images/nav_cast.png") no-repeat 0px 0px;
	position: fixed;
	top: 606px;
	right: 34px;
}

#nav_cast:hover #img_nav_cast
{
	background: url("../images/img_nav_cast.png") no-repeat 0px 0px;
}

#nav_axs
{
	z-index: 20;
	background: url("../images/nav_axs.png") no-repeat 0px 0px;
	position: fixed;
	top: 697px;
	right: 34px;
}

#nav_axs:hover #img_nav_axs
{
	background: url("../images/nax_axs_mover.png") no-repeat 0px 0px;
}

#logo
{
	width: 0.01px;
	padding-bottom: 4px;
	left: -100px;
	margin-top: 562px;
	position: relative;
}

#logo_wrapper
{
	z-index: 9;
	width: 1480px;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#logo_body
{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	position: relative;
	left: -100px;
}

#img_logo
{
	z-index: 22;
	width: 540px;
	position: relative;
	margin-right: -10000px;
	margin-top: -30px;
	left: 493px;
}


#info
{
	margin-top: 653px;
	position: relative;
}

#u160
{
	z-index: 2;
	width: 1197px;
	border-style: none;
	border-color: transparent;
	background-color: #FDF479;
	background-color: rgba(252, 238, 33, 0.6);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(252, 238, 33, 0.6);
}

#u135
{
	z-index: 7;
	width: 1189px;
	border-width: 8px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 88px;
	margin-bottom: -24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 16px;
}

#u150-4
{
	z-index: 24;
	width: 481px;
	min-height: 122px;
	font-size: 72px;
	line-height: 126px;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	left: 114px;
}

#u151-8
{
	z-index: 33;
	width: 329px;
	min-height: 132px;
	text-align: right;
	line-height: 25px;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 748px;
}

#u156-5
{
	z-index: 28;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 121px;
}

#axs
{
	margin-top: 648px;
	position: relative;
}

#pu160,#pu162
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 390px;
	position: relative;
}

#u162
{
	z-index: 3;
	width: 1197px;
	border-style: none;
	border-color: transparent;
	background-color: #666666;
	background-color: rgba(0, 0, 0, 0.6);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0, 0, 0, 0.6);
}

#u163
{
	z-index: 8;
	width: 1189px;
	border-width: 8px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 31px;
	margin-bottom: -24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 16px;
}

#u167
{
	z-index: 60;
	width: 580px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 29px;
}

#u166-15
{
	z-index: 41;
	width: 348px;
	min-height: 209px;
	text-align: right;
	line-height: 16px;
	color: #FFFFFF;
	font-size: 9px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 729px;
}

#u166-2,#u166-4,#u166-6,#u166-7,#u166-9,#u166-11,#u166-13
{
	padding-right: 1px;
	padding-top: 10px;
}

#u173-4
{
	z-index: 56;
	width: 171px;
	min-height: 54px;
	text-align: left;
	line-height: 25px;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 269px;
	left: 649px;
}

#u151-2,#u151-4,#u151-6,#u173-2
{
	padding-top: 15px;
}

#page .verticalspacer
{
	clear: both;
}

