body
{
	background: #000000 url("../images/bkgd.jpg") no-repeat center center fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 5000px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 594px;
}

#top
{
	position: relative;
}

/* NAVIGATION */

#img_nav_top,#img_nav_info,#img_nav_cast,#img_nav_axs
{
	height: 39px;
	width: 39px;
	vertical-align: top;
}

#nav_top
{
	z-index: 14;
	background: url("../images/nav_top.png") no-repeat 0px 0px;
	position: fixed;
	top: 424px;
	right: 34px;
}

#nav_top:hover #img_nav_top
{
	background: url("../images/nav_top_mover.png") no-repeat 0px 0px;
}

#nav_info
{
	z-index: 11;
	background: url("../images/nav_info.png") no-repeat 0px 0px;
	position: fixed;
	top: 515px;
	right: 34px;
}

#nav_info:hover #img_nav_info
{
	background: url("../images/nav_info_mover.png") no-repeat 0px 0px;
}

#nav_cast
{
	z-index: 17;
	vertical-align: top;
	background: url("../images/nav_cast.png") no-repeat 0px 0px;
	position: fixed;
	top: 606px;
	right: 34px;
}

#nav_cast:hover #img_nav_cast
{
	background: url("../images/nav_cast_mover.png") no-repeat 0px 0px;
}

#nav_axs
{
	z-index: 20;
	background: url("../images/nav_axs.png") no-repeat 0px 0px;
	position: fixed;
	top: 697px;
	right: 34px;
}

#nav_axs:hover #img_nav_axs
{
	background: url("../images/nav_axs_mover.png") no-repeat 0px 0px;
}


/* TOP */
#logo
{
	width: 0.01px;
	padding-bottom: 4px;
	left: -100px;
	margin-top: 562px;
	position: relative;
}

#logo_wrapper
{
	z-index: 9;
	width: 1480px;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 28px;
	position: relative;
	margin-right: -10000px;
}

#logo_body
{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	position: relative;
	left: -100px;
}

#img_logo
{
	z-index: 22;
	width: 540px;
	position: relative;
	margin-right: -10000px;
	margin-top: -30px;
	left: 493px;
}

/* INFORMATION */
#info
{
	margin-top: 653px;
	position: relative;
}

.content_wrapper
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 390px;
	position: relative;
}

#info_bg
{
	z-index: 2;
	width: 1197px;
	border-style: none;
	border-color: transparent;
	background-color: #FDF479;
	background-color: rgba(252, 238, 33, 0.6);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(252, 238, 33, 0.6);
}

#info_border
{
	z-index: 7;
	width: 1189px;
	border-width: 8px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 88px;
	margin-bottom: -24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 16px;
}

#info_title
{
	z-index: 24;
	width: 481px;
	min-height: 122px;
	font-size: 72px;
	line-height: 126px;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
	left: 114px;
}

#info_body
{
	z-index: 33;
	width: 329px;
	min-height: 132px;
	text-align: right;
	line-height: 25px;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 748px;
}

#img_copy
{
	z-index: 28;
	display: block;
  width: 357px;
  height: 39px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 121px;
}

.info_body {
  padding-top: 15px;
}

/* CAST */
#cast {
  margin-top: 648px;
  position: relative;
}

/* ACCESS */
#axs
{
	margin-top: 648px;
	position: relative;
}

.slider {
  position: relative;
  width: 800px;
  height: 450px;
  overflow: hidden;
}

.slides {
  height: 100%;
  overflow: hidden;
  *zoom: 1;
}

.slide {
  height: 100%;
  float: left;
  clear: none;
}

.slide img {
  width: 100%
}

#page .verticalspacer
{
	clear: both;
}

