h1 {
  font-size: 80px;
  text-align: center;
  color: #ffffff;
  font-family: 'Josefin Slab', serif;
}

h2 {
}

body{
  text-align: center;
  background-image: url("../images/main.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
}

.Logo {
  width: 70%;
  margin: 300px auto;
  background: #333;
  opacity: 0.6;
}

.description {
  width: 70%;
  margin: 400px auto;
  background: #333;
  opacity: 0.6;
}
