html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

:root {
  --main-color: #FFA9A9;
  --accent-color: #CFAD9A; }

img {
  object-fit: contain; }

ul {
  list-style: none; }

h1 {
  width: 100%;
  text-align: center;
  font-size: xx-large;
  font-family: 'Montserrat', sans-serif; }

hr {
  border: none;
  text-align: center;
  height: 6px;
  width: 4vw;
  background: white;
  margin-bottom: 40px; }

a {
  text-decoration: none; }

p {
  font-family: 'Montserrat', sans-serif; }

body {
  background: black;
  margin: 0 auto;
  letter-spacing: 1.2px;
  color: white; }

#loading {
  width: 100vw;
  height: 100vh;
  transition: all 1s;
  background: black;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 999;
  color: white; }
  #loading img.loading-image {
    width: 15%;
    animation: flash 3s ease-in-out infinite; }
  #loading p {
    animation: flash 3s ease-in-out infinite; }
  @media (max-width: 768px) {
    #loading img.loading-image {
      width: 50%;
      animation: fluffy 3s ease-in-out infinite; } }

.loaded {
  opacity: 0;
  visibility: hidden; }

@keyframes flash {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.intro {
  position: relative;
  text-align: center;
  max-width: 100%;
  margin: 0 auto; }
  .intro .swiper-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; }
  .intro .swiper-slide > div {
    height: 100%;
    width: 100%; }
  .intro .swiper-slide.s1 > div {
    background: url("../img/photo01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .intro .swiper-slide.s2 > div {
    background: url("../img/photo02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .intro .swiper-slide.s3 > div {
    background: url("../img/photo03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .intro .swiper-slide.s4 > div {
    background: url("../img/photo04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .intro .swiper-slide.s5 > div {
    background: url("../img/photo05.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .intro .swiper-pagination {
    display: none;
    position: relative;
    width: 100%; }
    .intro .swiper-pagination .swiper-pagination-bullet {
      margin: 0 4px; }
    .intro .swiper-pagination .swiper-pagination-bullet-active {
      background: #696969; }
  .intro .intro-contents {
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.6); }
    .intro .intro-contents img.img-logo {
      margin: 40vh 0;
      width: 80%; }
    .intro .intro-contents img.img-text-info {
      width: 80%;
      margin-bottom: 40vh; }
  @media (max-width: 768px) {
    .intro img.img-logo {
      margin: 40vh 0;
      width: 90%; }
    .intro img.img-text-info {
      width: 90%;
      margin-bottom: 20vh; } }

.party, .party-photo, .aotc, .member, .release, .tweet {
  background: black;
  padding: 40px 0; }

.items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .items .item {
    width: 25%;
    height: 25vw;
    max-width: 25%;
    max-height: 25vw;
    position: relative; }
    .items .item img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .items .item .info {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.4);
      -webkit-transition: all 0.6s ease;
      transition: all 0.6s ease;
      pointer-events: none; }
      .items .item .info p {
        margin: auto; }
      .items .item .info .title {
        font-size: large; }
      .items .item .info .date, .items .item .info .roll, .items .item .info .artist {
        font-size: smaller; }
  .items .item:hover .info {
    opacity: 1; }
  @media (max-width: 768px) {
    .items .item {
      width: 50%;
      height: 50vw;
      max-width: 50%;
      max-height: 50vw;
      position: relative; } }

.aotc {
  text-align: center; }
  .aotc p.aotc-desc {
    margin: 5vh auto;
    font-weight: 200; }
    @media (max-width: 768px) {
      .aotc p.aotc-desc {
        width: 90%; } }
  .aotc a {
    color: yellow; }
  .aotc .history-button {
    display: none; }
  .aotc #history-close:checked ~ .btn-close {
    display: none; }
  .aotc #history-close:checked ~ .btn-open {
    display: block; }
  .aotc #history-open:checked ~ .btn-close {
    display: block; }
  .aotc #history-open:checked ~ .btn-open {
    display: none; }
  .aotc #history-close:checked ~ .history {
    display: none; }
  .aotc #history-open:checked ~ .history {
    display: block; }
  .aotc .btn {
    color: white; }
  .aotc .btn:hover {
    cursor: pointer; }
  .aotc .history {
    width: 70%;
    margin: 3vh auto; }
  .aotc .part {
    display: flex;
    justify-content: space-between;
    line-height: 28px;
    border-bottom: white 1px solid; }
  .aotc .act {
    text-align: right; }

.twitter-widget {
  width: 60%;
  margin: 0 auto; }

footer {
  width: 100%;
  padding: 60px auto;
  background: black; }
  footer .copyright {
    text-align: center; }
    footer .copyright p {
      font-weight: 900;
      padding: 10px 0; }
