@charset "utf-8";

/**********************************************/

/*
  clearfix
  \**********************************************
*/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix {
	display: inline-table;
	min-height: 1px;
}
* html .clearfix {
	height: 1px;
}
.clearfix {
	display: block;
}
.clear {
	clear: both;
}

/**********************************************/

/*
  font styles
  \**********************************************
*/
body {
	word-break: normal;
	word-wrap: break-word;
	font-size: 13px;
	line-height: 2em;
	font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	color: #fff;
}

.right { text-align: right;margin-top: 1em; }
.bottom_line { margin-bottom: 1em; }

a { color: #fff; }
a:hover,
a:active,
a:visited { color: #dfdfdf; }

/**********************************************/

/*
  Common styles
  \**********************************************
*/

img {
	max-width: 100%;
	height: auto;
	width /***/:auto;　
}
html {
	height: 100%;
}
body {
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
	height: 100%;
}
	@media(max-width:768px){
		body {
			background: url(../img/bg_image.jpg) 0 0 no-repeat;
			background-attachment: fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	}
.background {
	height: 5000px;
	width: 100%;
	background: url(../img/bg_image.jpg) 0 0 no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
	@media(max-width:768px){
		.background {
			display: none;
		}
	}
.wrapper {
	width: 1024px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
}
	@media(max-width:768px){
		.wrapper {
			width: 100%;
		}
	}

header {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
	background: rgba(0,0,0,0.5);
}
	@media(max-width:768px){
		header {
			height: 100px;
			padding: 15px 0;
		}
	}

h1 {
	height: 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
nav {
	width: 520px;
	display: block;
	margin: 30px auto;
}
	@media(max-width:768px){
		nav {
			width: 240px;
			margin: 0 auto;
		}
	}

nav ul li {
	float : left;
	width: 100px;
	margin: 0 15px;
}
	@media(max-width:768px){
		nav ul li {
			margin: 10px;
		}
	}

nav ul li a {
	background: rgba(0,0,0,0.7);
	color: #fff;
	display: block;
	padding: 5px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}
	@media(max-width:768px){
		nav ul li a {
			padding: 0;
		}
	}

nav ul li a:hover {
	background: #000;
}

section {
	position: relative;
	height: 1000px;
}
	@media(max-width:768px){
		section {
			width: 98%;
			height: 100%;
			margin: 0 auto;
		}
	}
section .inner {
	width: 924px;
	padding: 50px;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 10%;
	left: 0;
}
	@media(max-width:768px){
		section .inner {
			width: 95%;
			padding: 3px;
		}
	}
section .inner h2 {
	font-family: 'Muli', 'sans-serif';
	font-weight: 400;
	font-style: italic;
	font-size: 300%;
	position: absolute;
	top: -55px;
	left: -50px;
	padding: 30px;
	background: rgba(0,0,0,0.5);
}
	@media(max-width:768px){
		section .inner h2 {
			font-size: 200%;
			position: relative;
			top: 0px;
			left: 0;
			padding: 15px;
			background: rgba(0,0,0,0);
		}
	}

#top {
	width: 100%;
	position: relative;
}
	@media(max-width:768px){
		#top {
			height: 1000px;
		}
	}
#top img {
	width: 700px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25% 0 0 -350px;
}
	@media(max-width:768px){
		#top img {
			position: relative;
			top: 0;
			left: 0;
			margin: 50% auto;
		}
	}

	@media(max-width:768px){
		#info {
			height: 600px;
		}
	}

	@media(max-width:768px){
		#info p {
			text-align: left;
		}
	}

#cast {
	margin-bottom: 1200px;
}
	@media(max-width:768px){
		#cast {
			height: 1350px;
		}
	}
#cast .cast_section {
	width: 90%;
	margin: 50px auto;

	font-family: 'Muli', 'sans-serif';
}
#cast .cast_section h3 {
	float: left;
	padding: 15px;
	border: 3px solid #fff;
	background: rgba(0,0,0,0.3);
	font-size: 30px;
}
	@media(max-width:768px){
		#cast .cast_section h3 {
			width: auto;
			display: inline-block;
			font-size: 20px;
			float: none;
			margin-bottom: 1em;
		}
	}


#cast .cast_section .cast_section_right {
	float: right;
	text-align: right;
}
#cast .cast_section .cast_section_right p {
	font-size: 30px;
}
#cast .cast_section .cast_section_right span {
	display: block;
	margin-bottom: 1em;
}
#cast .cast_section .cast_lounge {
	clear: both;
}
#cast .cast_section .cast_lounge p {
	width: auto;
	float: left;
	margin: 0.8em;
	font-size: 30px;
}
	@media(max-width:768px){
		#cast .cast_section .cast_lounge p {
			font-size: 20px;
		}
	}

#cast .cast_section .cast_section_staff {
	width: 50%;
	margin-bottom: 2em;
	float: left;
}
	@media(max-width:768px){
		#cast .cast_section .cast_section_staff {
			float: none;
			width: auto;
		}
	}
#cast .cast_section .cast_section_staff h4,
#cast .cast_section .cast_section_staff p {
	display: inline-block;
}
	@media(max-width:768px){
		#cast .cast_section .cast_section_staff h4,
		#cast .cast_section .cast_section_staff p {
			display: block;
			width: auto;
		}
	}

#cast .cast_section .cast_section_staff h4 {
	padding: 0 15px 0 0;
	border-bottom: 1px solid #fff;
}
#cast .cast_section .cast_section_staff p {
	position: relative;
	top: 0.7em;
	left: 5px;
	font-size: 25px;
}
	@media(max-width:768px){
		#cast .cast_section .cast_section_staff p {
			font-size: 20px;
		}
	}


#access {
	height: 550px;
}
#access .map_img {
	text-align: center;
}
	@media(max-width:768px){
		#access {
			margin-bottom: 200px;
		}
	}

footer {
	position: relative;
}
footer address {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 10px;
	font-style: normal;
	text-align: center;
	display: block;
	background: #000;
}

@media(max-width:768px){
		#info .inner,
		#access .inner {
			padding-bottom: 30px;
		}
	}
