html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1vw;
  font: inherit;
  vertical-align: baseline;
}

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white;
  overflow-x: hidden;
  background: #000022;
}

.accent {
  color: #e60012;
}

a {
  text-decoration: none;
}

.intro {
  position: relative;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  background-image: url("../img/main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.intro .logo-image {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  bottom: 1vh;
}
@media screen and (max-width: 769px) {
  .intro {
    background-position: 70% 5%;
  }
  .intro .logo-image {
    width: 90%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}

section {
  position: relative;
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 769px) {
  section {
    width: 96%;
    margin: 0 auto;
  }
}

section.s1 {
  padding: 80px 0;
}
section.s1 .information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
section.s1 .information .text {
  flex-basis: 65%;
  width: 100%;
  padding-left: 35px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
}
section.s1 .information .text .event {
  margin-top: 20px;
  font-size: 24px;
}
section.s1 .information .text .date {
  font-size: 115px;
}
section.s1 .information .text .date .mon {
  font-size: 24px;
}
section.s1 .information .text .space {
  text-align: right;
  font-size: xx-large;
}
section.s1 .information .text .price {
  margin-top: 40px;
  color: white;
  text-align: right;
  padding: 8px 12px 8px 8px;
  font-family: "Abel", sans-serif;
  letter-spacing: 1px;
  line-height: 27px;
  font-size: x-large;
  background: #e60012;
}
section.s1 .information .text .copies {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
section.s1 .information .text .copies h2 {
  font-size: xxx-large;
  margin-bottom: 20px;
  font-weight: bold;
  color: #e60012;
}
@media screen and (max-width: 769px) {
  section.s1 {
    padding: 40px 0;
  }
  section.s1 .information {
    flex-wrap: wrap;
  }
  section.s1 .information .jacket {
    flex-basis: 100%;
  }
  section.s1 .information .text {
    flex-basis: 100%;
    margin-top: 20px;
    padding: 0;
  }
  section.s1 .information .text .event {
    margin-top: 20px;
    font-size: medium;
  }
  section.s1 .information .text .date {
    font-size: -webkit-xxx-large;
  }
  section.s1 .information .text .date .mon {
    font-size: small;
  }
  section.s1 .information .text .space {
    font-size: large;
  }
  section.s1 .information .text .price {
    text-align: center;
    font-size: large;
    margin-top: 20px;
  }
  section.s1 .information .text .copies {
    margin-top: 20px;
  }
}

section.s2 {
  display: flex;
  justify-content: space-between;
}
section.s2 .jacket {
  flex-basis: 40%;
  align-items: baseline;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
section.s2 .jacket a {
  color: white;
}
section.s2 .jacket img.jacket-image {
  width: 100%;
  object-fit: contain;
}
section.s2 .track-box {
  flex-basis: 55%;
}
section.s2 .preview {
  padding-top: 20px;
  width: 100%;
}
section.s2 .youtube {
  margin-bottom: 25px;
}
section.s2 .tracklist {
  letter-spacing: 1px;
  font-size: x-large;
}
section.s2 .tracklist table {
  display: block;
}
section.s2 .tracklist table tr {
  margin-bottom: 10px;
}
section.s2 .tracklist table td.right {
  padding-left: 20px;
  padding-bottom: 15px;
}
section.s2 .tracklist .sp-list {
  display: none;
}
section.s2 .tracklist .accent {
  font-size: large;
}
@media screen and (max-width: 769px) {
  section.s2 {
    flex-wrap: wrap;
    flex-direction: column;
  }
  section.s2 .track-box {
    margin-top: 5vh;
    padding: 0;
  }
  section.s2 .preview {
    width: 100%;
  }
  section.s2 .jacket {
    display: flex;
    width: 100%;
  }
  section.s2 .staff {
    margin-top: 20px;
  }
  section.s2 .staff p {
    line-height: 26px;
  }
  section.s2 .tracklist {
    width: 100%;
  }
  section.s2 .tracklist table {
    display: none;
  }
  section.s2 .tracklist .sp-list {
    display: block;
  }
  section.s2 .tracklist p {
    justify-content: center;
  }
  section.s2 .tracklist .num {
    font-size: medium;
    text-align: center;
    margin-bottom: 10px;
  }
  section.s2 .tracklist .title {
    text-align: center;
    font-size: x-large;
    margin-bottom: 10px;
  }
  section.s2 .tracklist .accent {
    text-align: center;
    font-size: large;
    margin-bottom: 2vh;
  }
}

section.s3 .staff {
  display: flex;
  justify-content: space-around;
}
section.s3 .staff p {
  line-height: 34px;
  font-size: large;
}
section.s3 .staff .name {
  margin-top: 3px;
}
section.s3 .staff a {
  color: white;
  font-size: large;
}
section.s3 .staff-box {
  display: flex;
  flex-direction: column;
  width: 20%;
}
@media screen and (max-width: 769px) {
  section.s3 .staff {
    flex-direction: column;
    text-align: center;
  }
  section.s3 .staff-box {
    width: 100%;
    margin-bottom: 10px;
  }
}

section.s4 {
  padding: 80px 0;
}
section.s4 hr {
  background: white;
  height: 1px;
  width: 100%;
  border: none;
  margin-bottom: 80px;
}
section.s4 .buy {
  width: 100%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section.s4 .buy a.shop {
  width: 26%;
  margin: 10px 10px;
  padding: 30px 20px;
  background: white;
  border-radius: 10px;
  font-size: x-large;
  letter-spacing: 2px;
  text-align: center;
  color: #7f7f7f;
}
@media screen and (max-width: 769px) {
  section.s4 {
    padding: 30px 0;
  }
  section.s4 hr {
    margin-bottom: 30px;
  }
  section.s4 .buy {
    margin: 10px auto;
    justify-content: space-between;
  }
  section.s4 .buy a.shop {
    width: 90%;
    font-size: large;
    margin: 10px auto;
  }
  section.s4 .buy a.none {
    display: none;
  }
}

footer {
  display: flex;
  position: relative;
  width: 99%;
  text-align: center;
  height: 220px;
  color: white;
  justify-content: flex-end;
  align-items: center;
}
footer .twitter {
  margin-right: 10px;
}
footer p {
  font-size: large;
}
@media screen and (max-width: 768px) {
  footer {
    width: 100%;
    height: 100px;
    margin-top: 0px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
  }
  footer .twitter {
    margin: 10px 0;
  }
  footer p {
    font-size: medium;
  }
}