h1 {
  font-size: 80px;
  text-align: center;
  color: #ffffff;
  font-family: 'Josefin Slab', serif;
}

h2 {
}

body {
  text-align: center;
}

.background {
  position: absolute;
  z-index: -1;
  background-image: url("../bg.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -138px;
  opacity: 0.7;
}

@media(max-width:768px){
  .Logo {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -80px;
    opacity: 0.7;
  }

  .Logo img {
    width: 300px;
  }
}

.description {
  width: 70%;
  margin: 400px auto;
  background: #333;
  opacity: 0.6;
}
