/*

stratosphere hexa
Version: 1.0

\**********************************************
  standard
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

user agent stylesheet li {
  display: list-item;
  text-align: match-parent;
}

select,
input,
textarea,
button {
  font:99%
  sans-serif;
}

ul,
ul li {
  list-style-type: none;
}

/* Image Replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* clearfix */
.clearfix:after {
  content:" ";
  display:block;
  clear:both;
}

/*
\**********************************************
  base
*/
html,
body {
  height: 100%;
}

.loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
}

.loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin: -12px 0 0 -12px;
  z-index: 2;
}

body {
  font-size: large;
  font-family: 'Fjalla One', Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  line-height: 1.6em;
  color: #fff;
  text-align: center;
}

.right {
  text-align: right;
}

a {
  text-decoration: none;
  transition: all 0.5s ease;
}

a,
a:visited {
  color: #000;
}

a:hover {
  color: #aaa;
}

/*
\**********************************************
  wrap
*/
.wrap {
  display: none;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  background: url(../img/bg.jpg) no-repeat fixed;
  background-size: 100%;
}


/*
\**********************************************
  main
*/
.site-main {
  width: 900px;
  height: 80%;
  margin: 0 auto;
  position: relative;
}

.section-cast,
.section-staff,
.section-access {
  position: relative;
  height: 100%;
  background: -webkit-linear-gradient(rgba(0,0,0,.4) 90%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(rgba(0,0,0,.4) 90%, rgba(0,0,0,0) 100%);
  background: linear-gradient(rgba(0,0,0,.4) 90%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

.section-top {
  position: relative;
  height: 100%;
}

.section-top .heading-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-top .heading-text {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
}

.section-top .heading-text .heading-intro {
  text-align: right;
}

.section-top .heading-text .heading-info {
  text-align: left;
  color: #fff;
}


.site-main .section-cast {
  height: 100%;
  overflow-y: scroll;
  position: relative;
}

.section-staff .section-content,
.section-access .section-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 900px;
  transform: translate(-50%, -50%);
}

.section-title h2,
[class^=section] h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.section-title h2 {
  padding-top: 1em;
  font-size: 28px;
  text-transform: uppercase;
}

.section-cast h3 {
  position: relative;
  display: inline-block;
  font-size: 24px;
  letter-spacing: .4em;
  margin: 30px 0;
}

.section-cast h3::before,
.section-cast h3::after,
.section-cast h3 span::before,
.section-cast h3 span::after {
  position: absolute;
  content: '';
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}

.section-cast h3::before,
.section-cast h3 span::before {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.section-cast h3::after,
.section-cast h3 span::after {
  -webkit-transform: rotate(-225deg);
     -moz-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
       -o-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.section-cast h3::before,
.section-cast h3::after {
  width: 30px;
  height: 30px;
  top: 0;
}

.section-cast h3 span::before,
.section-cast h3 span::after {
  width: 15px;
  height: 15px;
  top: 7px;
}

.section-cast h3::before {
  left: -30px;
}

.section-cast h3 span::before {
  left: -45px;
}

.section-cast h3::after {
  right: -30px;
}

.section-cast h3 span::after {
  right: -45px;
}

.section-cast li {
  line-height: 1em;
  margin-bottom: 30px;
  font-size: 21px;
}

.section-cast li span {
  display: block;
  font-size: 12px;
}

.section-staff article {
  width: 600px;
  margin: 0 auto;
}

.section-staff .staff-left,
.section-staff .staff-right {
  width: 100%;
}

.section-staff .staff-left {
  text-align: left;
}

.section-staff .staff-right {
  text-align: right;
}

.section-staff .staff-reg {
  display: inline-block;
  width: 300px;
  text-align: center;
}

.section-staff h3 {
  margin-bottom: 1em;
}

.section-staff h3 span {
  position: relative;
}

.section-staff h3 span::before {
  position: absolute;
  content: '';
  top: -10px;
  left: -30px;
  width: 80px;
  height: 20px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  border-top-left-radius: 10px;
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
}

.section-staff h3 span::after {
  position: absolute;
  content: '';
  bottom: -10px;
  right: -30px;
  width: 80px;
  height: 20px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-bottom-right-radius: 10px;
  -webkit-transform: skew(150deg);
  -moz-transform: skew(150deg);
}

.section-access .access-text {
  text-align: left;
  font-size: small;
  padding: 1em 0 0 1em;
}

.more-info {
  display: block;
  width: 300px;
  height: 50px;
  margin: 50px auto;
  padding: 5px;
  position: relative;
  font-weight: normal;
  transition: all 0.5s ease;
}

.more-info a {
  display: block;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
}

.more-info::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 30px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  content: ' ';
}

.more-info::after {
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 80px;
  height: 30px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  content: ' ';
}

.more-info:hover a {
  background: #fff;
  color: #000;
}

.more-info-content {
  text-align: left;
  color: #000;
}

.more-info-content .text-left {
  text-align: left;
  margin-bottom: 50px;
}

.more-info-content .text-right {
  text-align: right;
  margin-bottom: 50px;
}

.more-info-content h3 {
  font-size: 32px;
  position: relative;
  margin-bottom: 50px;
}

.more-info-content h3:after {
  position: absolute;
  bottom: -25px;
  left: 0;
  content: ' ';
  width: 30px;
  height: 1px;
  border-bottom: 1px solid #000;
}

.more-info-content h4 {
  font-size: 21px;
}

.more-info-content span {
  font-size: 12px;
}

.more-info-content p {
  font-weight: normal;
  font-size: 16px;
}

/*
\**********************************************
  footer
*/
.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  text-align: center;
}

.footer-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.site-nav {
  display: inline-block;
  position: relative;
}

.site-nav::before {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: '';
  width: 500px;
  height: 40px;
  -webkit-transform:perspective(100) rotateX(45deg);
  -moz-transform:perspective(100px) rotateX(45deg);
  background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  z-index: -1;
}

.site-nav ul {
  display: inline-block;
  width: 500px;
}

.site-nav li {
  display: inline-block;
  font-size: 0;
  margin: 0 20px;
}

.site-nav li a {
  font-size: large;
  text-transform: capitalize;
}

.copyright {
  font-size: small;
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxContent{margin-top:32px; overflow:visible; background:rgba(255,255,255,0.8);}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{ padding:1px;}
        #cboxLoadingGraphic{background:url(../img/loading.gif) no-repeat center center;}
        #cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
        #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(../img/controls.png) no-repeat 0 0;}

        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{background-position:0px 0px; right:44px;}
        #cboxPrevious:hover{background-position:0px -25px;}
        #cboxNext{background-position:-25px 0px; right:22px;}
        #cboxNext:hover{background-position:-25px -25px;}
        #cboxClose{background-position:-50px 0px; right:0;}
        #cboxClose:hover{background-position:-50px -25px;}
        .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}
