.html
{
	background: #000000 url("../images/bkgd.jpg") no-repeat center center fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 5999.985546875px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 13px;
}

#top
{
	position: relative;
}

#u132
{
	z-index: 70;
	background: url("../images/u132_states.png") no-repeat 0px 0px;
	position: fixed;
	top: 424px;
	right: 30px;
}

#u132:hover #u132_states
{
	background: url("../images/u132_states-r.png") no-repeat 0px 0px;
}

#u106
{
	z-index: 67;
	background: url("../images/u106_states.png") no-repeat 0px 0px;
	position: fixed;
	top: 515px;
	right: 30px;
}

#u106:hover #u106_states
{
	background: url("../images/u106_states-r.png") no-repeat 0px 0px;
}

#u347
{
	z-index: 88;
	width: 701px;
	border-color: #000000;
	margin-left: 290px;
	margin-top: 538px;
	position: relative;
	background: #FEF9B5 url("../images/dot_10-u347-fr.png") repeat left top;
	background-color: rgba(252, 238, 33, 0.33);
}

#u351
{
	z-index: 89;
	width: 325px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 188px;
}

#u108
{
	z-index: 73;
	background: url("../images/u108_states.png") no-repeat 0px 0px;
	position: fixed;
	top: 606px;
	right: 30px;
}

#u108:hover #u108_states
{
	background: url("../images/u108_states-r.png") no-repeat 0px 0px;
}

#u110
{
	z-index: 76;
	background: url("../images/u110_states.png") no-repeat 0px 0px;
	position: fixed;
	top: 697px;
	right: 30px;
}

#u132_states,#u106_states,#u108_states,#u110_states
{
	height: 39px;
	width: 39px;
	vertical-align: top;
}

#u110:hover #u110_states
{
	background: url("../images/u110_states-r.png") no-repeat 0px 0px;
}

#info
{
	margin-top: 709px;
	position: relative;
}

#pu160
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 390px;
	position: relative;
}

#u160
{
	z-index: 2;
	width: 1197px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FDF9B1 url("../images/dot_10-u160-fr.png") repeat left top;
	background-color: rgba(252, 238, 33, 0.35);
}

#u135
{
	z-index: 7;
	width: 1192px;
	border-width: 8px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 121px;
	margin-bottom: -24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 16px;
}

#u150-4
{
	z-index: 9;
	width: 481px;
	min-height: 122px;
	font-size: 72px;
	line-height: 126px;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 50px;
}

#u156-5
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 827px;
}

#u151-6
{
	z-index: 18;
	width: 532px;
	min-height: 63px;
	text-align: left;
	font-size: 16px;
	line-height: 16px;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 74px;
}

#u151-2,#u151-4
{
	padding-top: 9px;
}

#u340-9
{
	z-index: 79;
	width: 691px;
	min-height: 90px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 481px;
}

#u340-2,#u340-4,#u340-6
{
	font-size: 14px;
	text-align: right;
	line-height: 25px;
	color: #FFFFFF;
}

#u340-7
{
	font-size: 10px;
	line-height: 18px;
}

#cast
{
	margin-top: 978px;
	position: relative;
}

#pu228
{
	width: 0.01px;
	left: -100px;
	margin-top: 22px;
	position: relative;
}

#u228
{
	z-index: 43;
	width: 1480px;
	border-color: #000000;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/dot_10-u228-fr.png") repeat left top;
}

#u228_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	position: relative;
	left: -100px;
	padding-top: 117px;
	padding-bottom: 113px;
}

#pu241
{
	width: 0.01px;
	left: 211px;
	position: relative;
}

#u241
{
	z-index: 44;
	width: 350px;
	position: relative;
	margin-right: -10000px;
}

#u299
{
	z-index: 52;
	width: 168px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 893px;
}

#pu246
{
	width: 0.01px;
	left: 211px;
	margin-top: 128px;
	position: relative;
}

#u246
{
	z-index: 46;
	width: 350px;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
}

#u307
{
	z-index: 54;
	width: 210px;
	position: relative;
	margin-right: -10000px;
	left: 851px;
}

#pu251
{
	width: 0.01px;
	left: 211px;
	margin-top: 81px;
	position: relative;
}

#u251
{
	z-index: 48;
	width: 350px;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
}

#u266
{
	z-index: 50;
	width: 539px;
	position: relative;
	margin-right: -10000px;
	left: 522px;
}

#u266_img
{
	padding-bottom: 15px;
}

#u394
{
	z-index: 93;
	width: 855px;
	left: 417px;
	margin-top: 93px;
	position: relative;
}

#u296
{
	z-index: 56;
	width: 565px;
	height: 35px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 749px;
	left: 733px;
}

.ie #u296
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u296:hover
{
	margin: 749px -10000px 0px 0px;
	background: transparent url("../images/check-u296-r-fr.png") no-repeat right center;
}

#u297
{
	z-index: 57;
	width: 356px;
	height: 35px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 803px;
	left: 942px;
}

.ie #u297
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u297:hover
{
	margin: 803px -10000px 0px 0px;
	background: transparent url("../images/check-u297-r-fr.png") no-repeat right center;
}

#u298
{
	z-index: 58;
	width: 356px;
	height: 35px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 858px;
	left: 942px;
}

.ie #u298
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u298:hover
{
	margin: 858px -10000px 0px 0px;
	background: transparent url("../images/check-u297-r-fr.png") no-repeat right center;
}

#u272
{
	z-index: 59;
	width: 356px;
	height: 56px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 942px;
}

.ie #u272
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u272:hover
{
	margin: 138px -10000px 0px 0px;
	background: transparent url("../images/check-u272-r-fr.png") no-repeat right center;
}

#u285
{
	z-index: 60;
	width: 356px;
	height: 38px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 339px;
	left: 942px;
}

.ie #u285
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u285:hover
{
	margin: 339px -10000px 0px 0px;
	background: transparent url("../images/check-u285-r-fr.png") no-repeat right center;
}

#u286
{
	z-index: 61;
	width: 356px;
	height: 34px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
	left: 942px;
}

.ie #u286
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u286:hover
{
	margin: 400px -10000px 0px 0px;
	background: transparent url("../images/check-u286-r-fr.png") no-repeat right center;
}

#u288
{
	z-index: 62;
	width: 356px;
	height: 37px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 455px;
	left: 942px;
}

.ie #u288
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u288:hover
{
	margin: 455px -10000px 0px 0px;
	background: transparent url("../images/check-u288-r-fr.png") no-repeat right center;
}

#u292
{
	z-index: 63;
	width: 356px;
	height: 39px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 513px;
	left: 942px;
}

.ie #u292
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u292:hover
{
	margin: 513px -10000px 0px 0px;
	background: transparent url("../images/check-u292-r-fr.png") no-repeat right center;
}

#u294
{
	z-index: 64;
	width: 356px;
	height: 37px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 571px;
	left: 942px;
}

.ie #u294
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u294:hover
{
	margin: 571px -10000px 0px 0px;
	background: transparent url("../images/check-u288-r-fr.png") no-repeat right center;
}

#u295
{
	z-index: 65;
	width: 356px;
	height: 38px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 629px;
	left: 942px;
}

.ie #u295
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u295:hover
{
	margin: 629px -10000px 0px 0px;
	background: transparent url("../images/check-u295-r-fr.png") no-repeat right center;
}

.ie #u296:hover,.ie #u297:hover,.ie #u298:hover,.ie #u272:hover,.ie #u285:hover,.ie #u286:hover,.ie #u288:hover,.ie #u292:hover,.ie #u294:hover,.ie #u295:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#axs
{
	margin-top: 318px;
	position: relative;
}

#u162
{
	z-index: 3;
	width: 1197px;
	border-style: none;
	border-color: transparent;
	margin-left: 28px;
	margin-top: 344px;
	position: relative;
	background: #AAAAAA url("../images/dot_10-u162-fr.png") repeat left top;
	background-color: rgba(0, 0, 0, 0.33);
}

#u163
{
	z-index: 8;
	width: 1189px;
	border-width: 8px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	padding-bottom: 54px;
	margin-bottom: -24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 16px;
}

#u388
{
	z-index: 91;
	width: 600px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 45px;
}

#u166-15
{
	z-index: 24;
	width: 502px;
	min-height: 219px;
	text-align: right;
	line-height: 21px;
	color: #FFFFFF;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 645px;
}

#u381-4
{
	z-index: 39;
	width: 1083px;
	min-height: 39px;
	text-align: center;
	font-size: 14px;
	line-height: 25px;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 400;
	margin-left: 105px;
	margin-top: 648px;
	position: relative;
}

#u166-2,#u166-4,#u166-6,#u166-7,#u166-9,#u166-11,#u166-13,#u381-2
{
	padding-right: 1px;
	padding-top: 10px;
}

#page .verticalspacer
{
	clear: both;
}

