html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1vw;
  font: inherit;
  vertical-align: baseline; }

body {
  background: black;
  margin: 0 auto;
  font-family: "Sawarabi Mincho";
  color: white; }

a {
  color: #fff100; }

h2 {
  font-size: 3vw;
  margin: 1vw 0; }

@media (max-width: 768px) {
  h2 {
    font-size: 5vw; } }

.intro {
  background-image: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1800px;
  padding: 0 7%;
  text-align: center; }
  .intro .copy {
    padding-top: 10%;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    margin: 0 auto;
    height: 100vh;
    text-align: left; }
    .intro .copy p {
      font-size: 3vw;
      font-weight: 100;
      font-family: "M PLUS 1p";
      letter-spacing: 9px;
      transform: scale(0.75, 1); }
  .intro img {
    display: none; }
  @media (max-width: 768px) {
    .intro {
      background: none;
      height: auto;
      padding: 0; }
      .intro img {
        display: block;
        width: 100%; } }

section {
  position: relative;
  margin: 0 auto; }

section.s1 {
  background-image: url("../img/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  text-align: center;
  height: 700px;
  padding: 10%; }
  section.s1 h1 {
    margin: 20px 0;
    font-size: 5vw;
    font-family: "Sawarabi Mincho"; }
  section.s1 .description {
    margin-bottom: 20px; }
    section.s1 .description p {
      margin-top: 4vh;
      font-size: 2vw;
      line-height: 4vw; }
  @media (max-width: 768px) {
    section.s1 {
      background-image: url("../img/bg2_m.jpg");
      padding-top: 20%;
      height: 300px; }
      section.s1 h1 {
        margin: 20px 0;
        font-size: 5.5vw; }
      section.s1 .description p {
        margin-top: 6vh;
        font-size: 4.2vw;
        line-height: 7vw; } }

section.s2 {
  padding: 5% 10%; }
  section.s2 .sample {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: center; }
  section.s2 img {
    width: 38vw;
    margin: 1vw 0; }
  @media (max-width: 768px) {
    section.s2 img {
      width: 80vw; } }

section.s3 {
  background-image: url("../img/bg3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5% 10%; }
  section.s3 .tracklist {
    line-height: 32px;
    margin-bottom: 20px; }
    section.s3 .tracklist span.num {
      color: #fff100; }
    section.s3 .tracklist span.title {
      font-size: 1.25vw; }
  section.s3 .detail {
    text-align: right;
    line-height: 28px; }
    section.s3 .detail .place-pc {
      display: block; }
    section.s3 .detail .place-sp {
      display: none; }
    section.s3 .detail .buy-pc {
      display: block; }
    section.s3 .detail .buy-sp {
      display: none; }
    section.s3 .detail a {
      line-height: 0; }
  @media (max-width: 768px) {
    section.s3 .description {
      width: 100%; }
      section.s3 .description p {
        padding: 5%; }
    section.s3 .soundcloud {
      width: 100%; }
    section.s3 .tracklist span.num {
      font-size: 3vw; }
    section.s3 .tracklist span.title {
      font-size: 4.5vw; }
    section.s3 .detail {
      text-align: center; }
      section.s3 .detail .place-pc {
        display: none; }
      section.s3 .detail .place-sp {
        display: block; }
      section.s3 .detail .buy-pc {
        display: none; }
      section.s3 .detail .buy-sp {
        display: block; } }

section.s4 {
  background: #031124; }
  section.s4 .staff-pc {
    display: block;
    padding: 5% 0;
    font-size: 2.3em; }
    section.s4 .staff-pc h4 {
      text-align: left;
      float: left;
      padding: 0;
      margin: 0;
      font-weight: bold; }
    section.s4 .staff-pc div.col-staff {
      margin: 0 auto;
      width: 80%;
      line-height: 2.3em; }
    section.s4 .staff-pc div.col-staff p {
      text-align: right;
      padding: 0;
      margin: 0; }
  section.s4 .staff-sp {
    display: none; }
  @media (max-width: 768px) {
    section.s4 {
      padding-top: 5vh;
      padding-bottom: 15vh; }
      section.s4 .copy {
        top: 0; }
      section.s4 .staff-pc {
        display: none; }
      section.s4 .staff-sp {
        display: block;
        text-align: center; }
        section.s4 .staff-sp h4 {
          margin-top: 5vh;
          font-size: 4vw; }
        section.s4 .staff-sp p {
          font-size: 6vw; }
      section.s4 img.symbol {
        margin-top: 10vh;
        width: 25vw; } }

footer {
  position: relative;
  display: table;
  height: 60px;
  width: 100%;
  background: black;
  text-align: center; }
  footer p {
    display: table-cell;
    vertical-align: middle; }
  footer .twitter {
    position: absolute;
    top: 10px;
    right: 3%; }
  @media (max-width: 768px) {
    footer .twitter {
      position: absolute;
      top: -100%;
      left: 0;
      right: 0; } }
