@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.842882098561px;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: 61px;
}

#pu742
{
	width: 0.01px;
	position: relative;
}

#u742
{
	z-index: 2;
	width: 768px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../../images/bkgd.jpg") no-repeat center center;
}

#u746
{
	z-index: 231;
	width: 294px;
	height: 9px;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 956px;
	left: 29px;
}

#u736
{
	z-index: 5;
	width: 372px;
	border-width: 8px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-bottom: -44px;
	position: relative;
	margin-right: -10000px;
	margin-top: 917px;
	left: 350px;
}

#u737-4
{
	z-index: 14;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 18px;
}

#u741
{
	z-index: 228;
	width: 768px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 429px;
	background: #AAC7DA url("../../images/dot_10-u741-fr.png") repeat left top;
	background-color: rgba(0, 86, 144, 0.33);
}

#u738
{
	z-index: 229;
	width: 325px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 235px;
}

#pu751-4
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 49px;
	position: relative;
}

#u751-4
{
	z-index: 234;
	width: 481px;
	min-height: 122px;
	color: #FFFFFF;
	font-size: 58px;
	line-height: 126px;
	font-family: muli, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u753-6
{
	z-index: 243;
	width: 532px;
	min-height: 63px;
	text-align: left;
	line-height: 16px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: muli, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
}

#u753-2,#u753-4,#u753-5
{
	padding-top: 9px;
}

#u753-5 a:link, a:visited
{
  color:salmon;
}

#u752-5
{
	z-index: 238;
	display: block;
	vertical-align: top;
	margin-left: 35px;
	margin-top: 6px;
	position: relative;
}

#u754-9
{
	z-index: 249;
	width: 691px;
	min-height: 90px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 62px;
	margin-top: 7px;
	position: relative;
}

#u754-2,#u754-4,#u754-6
{
	font-size: 14px;
	text-align: right;
	line-height: 25px;
	color: #FFFFFF;
}

#u754-7
{
	font-size: 10px;
	line-height: 18px;
}

#pu689
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 24px;
	position: relative;
}

#u689
{
	z-index: 3;
	width: 139px;
	border-width: 8px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: -4px;
}

#u690-4
{
	z-index: 6;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 18px;
}

#u755
{
	z-index: 232;
	width: 536px;
	height: 9px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 177px;
}

#pu693-4
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 25px;
	position: relative;
}

#u693-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u694-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u695-4
{
	z-index: 26;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
}

#u718-6
{
	z-index: 118;
	width: 729px;
	min-height: 110px;
	color: #FFFFFF;
	line-height: 21px;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 28px;
	margin-top: 7px;
	position: relative;
}

#pu696-4
{
	width: 0.01px;
	margin-left: 25px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u696-4
{
	z-index: 30;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u707-4
{
	z-index: 74;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 391px;
}

#u724-8
{
	z-index: 176;
	width: 729px;
	min-height: 115px;
	text-align: right;
	line-height: 21px;
	font-size: 12px;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 25px;
	margin-top: 7px;
	position: relative;
}

#pu699-4
{
	width: 0.01px;
	margin-left: 28px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u699-4
{
	z-index: 42;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u712-4
{
	z-index: 94;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u719-8
{
	z-index: 124;
	width: 729px;
	min-height: 110px;
	color: #FFFFFF;
	line-height: 21px;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 28px;
	position: relative;
}

#u704-4
{
	z-index: 62;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u709-4
{
	z-index: 82;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 391px;
}

#u725-10
{
	z-index: 184;
	width: 729px;
	min-height: 115px;
	text-align: right;
	line-height: 21px;
	font-size: 12px;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 25px;
	position: relative;
}

#pu697-4
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: 1px;
	position: relative;
}

#u697-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u714-4
{
	z-index: 102;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u720-10
{
	z-index: 132;
	width: 729px;
	min-height: 110px;
	color: #FFFFFF;
	line-height: 21px;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 28px;
	margin-top: 3px;
	position: relative;
}

#pu701-4
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 3px;
	position: relative;
}

#u701-4
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u708-4
{
	z-index: 78;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 391px;
}

#u726-7
{
	z-index: 194;
	width: 729px;
	min-height: 115px;
	text-align: right;
	line-height: 21px;
	font-size: 12px;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 25px;
	margin-top: 3px;
	position: relative;
}

#pu706-4
{
	width: 0.01px;
	margin-left: 28px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u706-4
{
	z-index: 70;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u713-4
{
	z-index: 98;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u721-6
{
	z-index: 142;
	width: 729px;
	min-height: 110px;
	color: #FFFFFF;
	line-height: 21px;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 28px;
	position: relative;
}

#pu704-4,#pu700-4
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 6px;
	position: relative;
}

#u700-4
{
	z-index: 46;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u710-4
{
	z-index: 86;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 391px;
}

#u727-11
{
	z-index: 201;
	width: 729px;
	min-height: 115px;
	text-align: right;
	line-height: 21px;
	font-size: 12px;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 25px;
	margin-top: 1px;
	position: relative;
}

#u705-4
{
	z-index: 66;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u715-4
{
	z-index: 106;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u722-4
{
	z-index: 148;
	width: 729px;
	min-height: 110px;
	color: #FFFFFF;
	line-height: 21px;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 28px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu698-4
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 7px;
	position: relative;
}

#u698-4
{
	z-index: 38;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u711-4
{
	z-index: 90;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 391px;
}

#u728-10
{
	z-index: 212;
	width: 729px;
	min-height: 115px;
	text-align: right;
	line-height: 21px;
	font-size: 12px;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 25px;
	margin-top: 2px;
	position: relative;
}

#pu705-4,#pu702-4
{
	width: 0.01px;
	margin-left: 28px;
	position: relative;
}

#u702-4
{
	z-index: 54;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u716-4
{
	z-index: 110;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u723-9
{
	z-index: 152;
	width: 729px;
	min-height: 110px;
	color: #FFFFFF;
	line-height: 21px;
	font-size: 12px;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 28px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#pu703-4
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 9px;
	position: relative;
}

#u703-4
{
	z-index: 58;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u717-4
{
	z-index: 114;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 391px;
}

#pu759
{
	width: 0.01px;
	margin-left: 25px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u759
{
	z-index: 4;
	width: 139px;
	border-width: 8px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-bottom: -4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 6px;
}

#u760-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 18px;
}

#u729-6
{
	z-index: 222;
	width: 729px;
	min-height: 115px;
	text-align: right;
	line-height: 21px;
	font-size: 12px;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u761
{
	z-index: 233;
	width: 536px;
	height: 9px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 187px;
}

#u756
{
	z-index: 258;
	width: 600px;
	margin-left: 92px;
	margin-top: 40px;
	position: relative;
}

#u762-15
{
	z-index: 161;
	width: 729px;
	min-height: 195px;
	text-align: center;
	line-height: 25px;
	color: #FFFFFF;
	font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
	margin-left: 25px;
	margin-top: 50px;
	position: relative;
}

#u763-4
{
	z-index: 260;
	width: 368px;
	text-align: center;
	color: #FFFFFF;
	margin-left: 200px;
	margin-top: 50px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

